body{
  padding: 0%;
  box-sizing: border-box;
  margin-bottom: 5%;
  margin-top: 74.2333px;
  margin-left: 34%;
  margin-right: 485px;

}

.container{
 
  display: grid;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-style: solid;
  border-top-width: 1px;
  justify-content: center;
  background-image: url('Building.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* opacity: 0.9;*/
  border-radius: 52px;
  height: 500px;
  width: 440.8px;
  margin-left: 23px;
}
.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
      z-index: 2;
    }

    h1{

   text-align: center;
  color: #090a0b;
  margin-right: 1px;
  margin-top: 55.16px;
  margin-bottom: 9.16px;
  width: 164.867px;
  height: 73.85px;
  margin-left: 92px;
  font-size: xxx-large; }


#username{
    height: 24.933px;
  width: 142.867px;
  margin-right: 210px;
  font-size: larger;
  font-style: normal;
  background-color: #6f8d9b;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 19.2px;
  margin-left: 24px;
}

#un{
    background-color: #a1b4b4;
  opacity: 0.7;
  border-radius: 23px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  padding-left: 21px;
  padding-right: 18px;
  border-color: #9e9d9d;
  width: 270.667px;
  margin-left: 20px;
}

#password{
    height: 24.933px;
  width: 142.867px;
  margin-right: 210px;
  font-size: larger;
  font-style: normal;
  background-color: #6f8d9b;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  margin-top: 29.2px;
  margin-bottom: 0px;
  margin-left: 24px;
}

#pw{
    background-color: #a1b4b4;
  opacity: 0.7;
  border-radius: 23px;
  margin-bottom: 25px;
  margin-top: 0px;
  font-weight: bold;
  padding-left: 21px;
  padding-right: 18px;
  border-color: black;
  margin-left: 22px;
  width: 277.667px;
}

a{
    width: 118px;
  height: 18.017px;
  color: #6016e3;
  margin-left: 115px;
  margin-bottom: 24px;
  margin-top: 0px;

}

button{
    width: 26%;
  height: 40px;
  font-size: initial;
  background-color: #30496b;
  color: azure;
  margin-left: 173px;
  margin-top: 15px;
  border-radius: 13px;
}

button.hover{
    background-color:#1c3352 ;
}